.main-area{
    display: flex;
    min-width: 298px;
}
.page-title{
    display: block;
}

.formField{
    
    flex: 1;         /* egyenlő arány */
    border: 2px solid #f10707; /* csak a láthatóság kedvéért */
    
}

.taskField{
    flex: 2;         /* egyenlő arány */
    border: 2px solid #b65757; /* csak a láthatóság kedvéért */

    display: flex;
}

.activeTask{
    flex: 1;         /* egyenlő arány */
    border: 2px solid #a118bd; /* csak a láthatóság kedvéért */
}

.doneTask{
    flex: 1;         /* egyenlő arány */
    border: 2px solid #a118bd; /* csak a láthatóság kedvéért */
}



.hidden {
  display: none;
}
.form-opened{
    flex-direction: row;
}

@media (max-width: 900px){
    .form-opened{
    flex-direction: column;
    }
    .formField{
    flex: 1;
    }
    .taskField{
        flex: 1;
    }
}

@media (max-width: 600px){
    .form-opened{
    flex-direction: row;
    display: none;
    }
    .main-area{
        flex-direction: column;
    }
    
    .taskField{
        flex-direction: column;
    }

    .activeTask{
        flex: 1;         /* egyenlő arány */
        border: 2px solid #a118bd; /* csak a láthatóság kedvéért */
    }

    .doneTask{
        flex: 1;         /* egyenlő arány */
        border: 2px solid #a118bd; /* csak a láthatóság kedvéért */
    }
}

form{
    background-color: aquamarine;
    width: 100%;
    height: auto;
    font-family: 'Nunito', sans-serif;
    font-size: xx-large;
}

form * {
    display: block;
    margin-bottom: 2em;
    margin-left: 0.3em;
}
form label{
    margin-bottom: 0.2em;
}

form > input, form > textarea, form > select {
    width: 90%;
    border: 1px solid #0e51a3;
    line-height: 2.5em;
    border-radius: 0.5em;
    font-family: inherit;
}

#taskDate, #taskTime, #taskColor, #taskHours, #taskReminder{
    width: 50%
}

#taskReminder{
    
}

form #importance{
    display: flex;
    flex-direction: column;
}

task-card{
    border-radius: 50%;
    width: 100%;
    height: fit-content;
    background-color: rgb(187, 9, 218);
}
