body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0.3rem;
  background: #f8f9fa;
  color: #333;

}
.main-area{
    display: flex;
    min-width: 298px;
    padding-top: 90px;
}
.page-title{
    display: block;
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0;
}





.floating-lane {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white; /* vagy más háttérszín, hogy ne legyen átlátszó */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* finom árnyék a kiemeléshez */
  z-index: 9999; /* fontos, hogy fölötte legyen más elemeknek */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.floating-lane button{
  padding: 0.5rem;
  min-height: 20px;
  min-width: 20px;
}

.floating-lane .save-area, .open-close-area {
  padding: 0.5rem;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 0rem;
  border: 2px solid #007bff;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.checkbox-label:hover {
  background-color: #e9f2ff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
}

.checkbox-label input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}


button {
  background-color: #007bff;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

.light-button{
  color: #007bff;
  background-color: whitesmoke;
  border: 0.1rem, solid, #0056b3;
}

.light-button:hover{
  background-color: #007bff;
  color: whitesmoke;
}



.formField{
    background-color: whitesmoke;
    padding: 0.2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0.3rem;
    flex: 1;         /* egyenlő arány */
    border: 2px solid #f10707; /* csak a láthatóság kedvéért */
    border-radius: 1rem;
}

.taskField{
    display: flex;
    flex: 2;         /* egyenlő arány */
    border: 2px solid #b65757; /* csak a láthatóság kedvéért */
    border-radius: 2.5rem;
    padding: 0.2rem;
    gap: 0.3rem;
    min-width: 298px;
}

.activeTask, .doneTask{
    display: flex;
    flex-direction: column;
    flex: 1;         /* egyenlő arány */
    min-width: 0;
    border: 2px solid #a118bd; /* csak a láthatóság kedvéért */
    padding: 0.8rem;
    background-color: whitesmoke;
    border-radius: 2.3rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    gap: 1rem;
    min-height: 10rem;
    height: min-content;
}

.activeTask{
    background-color: lightblue;
}
.doneTask{
    background-color: lightgreen;
}


.form-opened{
    flex-direction: row;
}

@media (max-width: 900px){
    .form-opened{
    flex-direction: column;
    }
    .formField{
    flex: 1;
    }
    .taskField{
        flex: 1;
    }

    .page-title{
      display: none;
    }
    
    .main-area{
      padding-top: 60px;
    }
}

@media (max-width: 600px){
    .form-opened{
    flex-direction: row;
    display: none;
    }
    .main-area{
        flex-direction: column;
    }
    
    .taskField{
        flex-direction: column;
    }
}

form{
    background-color: aquamarine;
    width: 100%;
    height: auto;
    font-family: 'Nunito', sans-serif;
    font-size: xx-large;
}

form * {
    margin-bottom: 0.2em;
    margin-left: 0.3em;
}
form label{
    font-weight: bold;
}

form button{
    margin-top: 1rem;
}

form > input, form > textarea, form > select {
    width: 85%;
    border: 0.1rem solid #0e51a3;
    border-radius: 1rem;
    font-family: inherit;

}

#taskReminder, #isDone{
    width: 20%
}

form .row{
  display: flex;
  flex-direction: row;
}

form #taskReminder, #isDone {
  max-width: 45px;
  max-height: 45px;
}

form #formOptions {
  justify-content: space-around;
}

form #importance{
    display: flex;
    flex-direction: column;
    padding-block: 0;
    padding-inline: 0;
}

.task-card{
    height: fit-content;
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 1.5rem;
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.8);
    transition: transform 0.2s ease;
    padding: 0.8rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.task-card .done-toggle{
  transform: scale(1.2);
  cursor: pointer;
}

.task-card:hover {
  transform: scaleX(1.03);
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}

.card-title {
  display: inline;
  margin: 0;
  white-space: nowrap;         /* ne törje sort */
  overflow: hidden;            /* ami nem fér ki, ne lógjon ki */
  text-overflow: ellipsis;
}

.card-done-checkbox{
  min-width: fit-content;
}

.task-card #cardPriorityLabel{
  align-self: center;
}

.task-card progress {
    width: 100%;
}

.task-card .row {
  display: flex;
  justify-content: space-between;
}



.delete-button {
  background-color: transparent;
  border: 0.1rem solid red;
  color: #dc3545;
  font-size: 1.2rem;
  cursor: pointer;

  width: fit-content;
  align-self: flex-end;
}

.task-card .delete-button:hover {
  color: white;
  background-color: red;
}

.scroll-highlight {
  animation: flash 2s ease;
}

@keyframes flash {
  0% { background-color: transparent; }
  50% { background-color: yellow; }
  100% { background-color: transparent; }
}

.highlight {
    border-color: red !important;
    animation: pulse 1s infinite alternate;
}
@keyframes pulse {
    from { box-shadow: 0 0 5px red; }
    to { box-shadow: 0 0 15px red; }
}

.card-remove-animation {
  animation: removeCard 300ms ease forwards;
}

@keyframes removeCard {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}









.modal.hidden {
      display: none;
    }





.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7); /* sötét, de átlátszó háttér */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal-content {
  background-color: #f9f9f9; /* világos háttérszín */
  padding: 2rem;
  border-radius: 0rem;
  width: 90vw;           /* az oldal 90%-a szélességben */
  max-width: 700px;      /* max szélesség, hogy ne legyen túl nagy nagyon széles képernyőn */
  height: 50vh;          /* az oldal 50%-a magasságban */
  max-height: 450px;     /* max magasság, ha kell */
  overflow-y: auto;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.modal-close svg {
  stroke: red;
  transition: stroke 0.2s ease;
}

.modal-close:hover {
  background-color: red; 
}

.modal-close:hover svg {
  stroke: white;
}

/* From Uiverse.io by Galahhad */ 
.switch {
  /* switch */
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-bg: rgb(131, 131, 131);
  --switch-checked-bg: rgb(0, 218, 80);
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
  --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  /* circle */
  --circle-diameter: 18px;
  --circle-bg: #fff;
  --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
  --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
  --circle-transition: var(--switch-transition);
  /* icon */
  --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  --icon-cross-color: var(--switch-bg);
  --icon-cross-size: 6px;
  --icon-checkmark-color: var(--switch-checked-bg);
  --icon-checkmark-size: 10px;
  /* effect line */
  --effect-width: calc(var(--circle-diameter) / 2);
  --effect-height: calc(var(--effect-width) / 2 - 1px);
  --effect-bg: var(--circle-bg);
  --effect-border-radius: 1px;
  --effect-transition: all .2s ease-in-out;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
}

.switch svg {
  -webkit-transition: var(--icon-transition);
  -o-transition: var(--icon-transition);
  transition: var(--icon-transition);
  position: absolute;
  height: auto;
}

.switch .checkmark {
  width: var(--icon-checkmark-size);
  color: var(--icon-checkmark-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch .cross {
  width: var(--icon-cross-size);
  color: var(--icon-cross-color);
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: var(--switch-transition);
  -o-transition: var(--switch-transition);
  transition: var(--switch-transition);
  cursor: pointer;
}

.circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: var(--circle-bg);
  border-radius: inherit;
  -webkit-box-shadow: var(--circle-shadow);
  box-shadow: var(--circle-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  z-index: 1;
  position: absolute;
  left: var(--switch-offset);
}

.slider::before {
  content: "";
  position: absolute;
  width: var(--effect-width);
  height: var(--effect-height);
  left: calc(var(--switch-offset) + (var(--effect-width) / 2));
  background: var(--effect-bg);
  border-radius: var(--effect-border-radius);
  -webkit-transition: var(--effect-transition);
  -o-transition: var(--effect-transition);
  transition: var(--effect-transition);
}

/* actions */

.switch input:checked+.slider {
  background: var(--switch-checked-bg);
}

.switch input:checked+.slider .checkmark {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.switch input:checked+.slider .cross {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch input:checked+.slider::before {
  left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
}

.switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
  -webkit-box-shadow: var(--circle-checked-shadow);
  box-shadow: var(--circle-checked-shadow);
}