body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0.3rem;
  background: #f8f9fa;
  color: #333;

}
.main-area{
    display: flex;
    min-width: 298px;
    padding-top: 90px;
}
.page-title{
    display: block;
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.floating-lane {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white; /* vagy más háttérszín, hogy ne legyen átlátszó */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* finom árnyék a kiemeléshez */
  z-index: 9999; /* fontos, hogy fölötte legyen más elemeknek */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.floating-lane button{
  padding: 0.5rem;
  min-height: 20px;
  min-width: 20px;
}

.floating-lane .save-area, .open-close-area {
  padding: 0.5rem;
}


button {
  background-color: #007bff;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.hidden {
  display: none;
}



.formField{
    background-color: whitesmoke;
    padding: 0.2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0.3rem;
    flex: 1;         /* egyenlő arány */
    border: 2px solid #f10707; /* csak a láthatóság kedvéért */
    border-radius: 1rem;
}

.taskField{
    display: flex;
    flex: 2;         /* egyenlő arány */
    border: 2px solid #b65757; /* csak a láthatóság kedvéért */
    border-radius: 2.5rem;
    padding: 0.2rem;
    gap: 0.3rem;
}

.activeTask, .doneTask{
    display: flex;
    flex-direction: column;
    flex: 1;         /* egyenlő arány */
    border: 2px solid #a118bd; /* csak a láthatóság kedvéért */
    min-width: 298px;
    padding: 0.8rem;
    background-color: whitesmoke;
    border-radius: 2.3rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    gap: 1rem;
    min-height: 10rem;
    height: min-content;
}

.activeTask{
    background-color: lightblue;
}
.doneTask{
    background-color: lightgreen;
}


.form-opened{
    flex-direction: row;
}

@media (max-width: 900px){
    .form-opened{
    flex-direction: column;
    }
    .formField{
    flex: 1;
    }
    .taskField{
        flex: 1;
    }

    .page-title{
      display: none;
    }
    .main-area{
      padding-top: 60px;
    }
}

@media (max-width: 600px){
    .form-opened{
    flex-direction: row;
    display: none;
    }
    .main-area{
        flex-direction: column;
    }
    
    .taskField{
        flex-direction: column;
    }
}

form{
    background-color: aquamarine;
    width: 100%;
    height: auto;
    font-family: 'Nunito', sans-serif;
    font-size: xx-large;
}

form * {
    margin-bottom: 0.2em;
    margin-left: 0.3em;
}
form label{
    font-weight: bold;
}

form button{
    margin-top: 1rem;
}

form > input, form > textarea, form > select {
    width: 85%;
    border: 0.1rem solid #0e51a3;
    border-radius: 3rem;
    font-family: inherit;

}

#taskColor, #taskHours, #taskReminder, #isDone{
    width: 20%
}

#taskDate, #taskTime{
    width: 40%;
}

form #importance{
    display: flex;
    flex-direction: column;
}

.task-card{
    height: fit-content;
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 1.5rem;
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.8);
    transition: transform 0.2s ease;
    padding: 0.8rem;
    padding-bottom: 0.2rem;

    display: flex;
    flex-direction: column;
}

.task-card .done-toggle{
  transform: scale(1.2);
  cursor: pointer;
}

.task-card:hover {
  transform: scaleX(1.02);
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}

.card-title {
  display: inline;
  margin: 0;
  white-space: nowrap;         /* ne törje sort */
  overflow: hidden;            /* ami nem fér ki, ne lógjon ki */
  text-overflow: ellipsis;
}

.card-done-checkbox{
  min-width: fit-content;
}

.task-card #cardPriorityLabel{
  align-self: center;
}

.task-card progress {
    width: 100%;
}

.task-card .row {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  background-color: transparent;
  border: 0.1rem solid red;
  color: #dc3545;
  font-size: 1.2rem;
  cursor: pointer;

  width: fit-content;
  align-self: flex-end;
}

.task-card .delete-button:hover {
  color: white;
  background-color: red;
}

.scroll-highlight {
  animation: flash 2s ease;
}

@keyframes flash {
  0% { background-color: transparent; }
  50% { background-color: yellow; }
  100% { background-color: transparent; }
}

.highlight {
    border-color: red !important;
    animation: pulse 1s infinite alternate;
}
@keyframes pulse {
    from { box-shadow: 0 0 5px red; }
    to { box-shadow: 0 0 15px red; }
}

.card-remove-animation {
  animation: removeCard 300ms ease forwards;
}

@keyframes removeCard {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

